<html>
	<head>
		<meta charset="utf-8" />
		<title>Bullet Editor/Analyzer</title>

		<!-- Twitter Bootstrap v4.3.1 stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1.css">

		<!-- in-house stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/index.css">

		<!-- jQuery v3.4.0 -->
		<script src="/js/jquery-3.4.0.js"></script>

		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- jQuery Contenteditable Plugin v1.0.0 -->
		<script src="/js/jQuery-contenteditable-1.0.0.min.js"></script>

		<!-- Twitter Bootstrap v4.3.1 JS -->
		<script src="/js/bootstrap-4.3.1.js"></script>

		<%- include('../partials/styleGuides') %>

		<!-- in-house JS -->
		<script src="/js/index.js"></script>
	</head>
	<body>
		<div class="container">
			<%- include('../partials/testpartial') %>
			<h4>Bullet(s):</h4>

			<!-- textbox for typing bullets -->
			<div id="bullets"></div>
			<br />

			<!-- dropdown for bullet type -->
			Bullet Type: <select id="type" class="drop">
				<option value="epr" selected="selected">EPR</option>
				<option value="opr">OPR</option>
				<option value="award">Award</option>
			</select>

			<!-- dropdown for style guide to be used for abbreviations -->
			Style Guide: <select id="sg" class="drop">
				<option value="als" selected="selected">ALS</option>
				<option value="480ISRW">480th ISRW</option>
			</select>
			<br />
			<br />

			<!-- output -->
			<h4>Output:</h4>
			<div id="output"></div>
		</div>
	</body>
</html>