h1, h3 {
	font-family: Arial;
}

.abbrev {
	background-color: yellow;
}

#bullets {
	height: 250px;
	width: 100%;
	color: #495057;
	display: block;
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
	background-color: #FFF;
	background-clip: padding-box;
	margin: 0;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	padding: .375rem .75rem;
	/*outline: none;*/
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	overflow: auto;
	resize: vertical;
	cursor: text;
}

.bullet {
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
}